<!DOCTYPE html>
<html>

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


	<!-- site metas -->
	<link rel="stylesheet" href="CSS/CSS-Ind/bootstrap.min.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/style.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/responsive.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="CSS/util.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/style-Index.css">
	<link rel="stylesheet" href="CSS/CSS-Uudai/style-Uudai.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<!-- Bootstrap CSS -->
	<!-- Bootstrap Icons CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
		rel="stylesheet">

	<!-- Favicons -->
	<link href="images/images/bvxa.png" rel="icon">
	<link href="images/images/bvxa.png" rel="apple-touch-icon">

	<title>Ưu đãi - Bệnh Viện Xuyên Á</title>
</head>

<body class="main-layout">
	<!-- header -->
	<header>
		<!-- header inner -->
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo">
									<a href="/home"> <img src="images/images/logo.png" alt="#" style="width: 40%;"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
						<nav class="navigation navbar navbar-expand-md navbar-dark">
							<button class="navbar-toggler m-t-15" type="button" data-toggle="collapse"
								data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon" style="position: relative; top: -10px;">
									<i class="fas fa-bars" style="color: #236D89;"></i>
								</span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExample04">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item">
										<a class="nav-link" href="/">Giới thiệu</a>
									</li>
									<li class="nav-item active">
										<a class="nav-link" href="/uu-dai">Ưu đãi</a>
									</li>
								</ul>

							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->

	<!-- banner -->
	<section id="" class="section-padding">
		<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="w-100" src="images/Images/mevabe3.png" alt="Image">
					<div class="carousel-caption">
						<div>
							<h3 class="main-color animated zoomIn">Trọn gói</h3>
							<h1 class="yellow-color animated zoomIn">Thai sản</h1>
							<h2 class="main-color animated slideInDown">An tâm chọn Xuyên Á</h2>

							<a class="btn animated slideInRight" href="#about">Đăng ký ngay</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->

	<!-- about section -->
	<div id="" class="about">
		<div class="container-service">
			<div class="row d_flex m-t-50">
				<div class="col-md-7">
					<div class="titlepage" style="border: #000 solid 0px;">
						<h2>Đặc Quyền sinh</h2>
						<p style="color: #5D5D5D;">Năm 2024 sắp tới là năm Thìn - năm Rồng Vàng may mắn! Theo quan niệm
							dân gian, em bé chào đời
							năm này sẽ được hưởng
							nguồn năng lượng tích cực, thừa hưởng phẩm chất tốt đẹp.</p>

						<p style="color: #5D5D5D;">Hiểu rõ tâm tư ấy, Hoàn Mỹ sẵn sàng đồng hành cùng các mẹ trong suốt
							hành trình thai sản, đảm
							bảo mang đến trải
							nghiệm tốt nhất với những ƯU ĐÃI ĐỘC QUYỀN.</p>
						<a class="btn btn-hover-2 bg-main-color btn-primary m-t-50" href="#about">Đăng ký ngay</a>

					</div>

				</div>
				<div class="col-md-5">
					<div class="about_img">
						<figure><img class="img-radius" src="images/images/bvxa-4.jpeg" alt="#"></figure>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about section -->

	<!-- Service section -->
	<div class="glasses">
		<div>
			<div class="row">
				<div class="col-md-10 offset-md-1 m-b-30">
					<div class="titlepage">
						<h2>Dịch vụ tiêu chuẩn cho mẹ và bé trước, trong và sau sinh</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="container-service col-xl-12">
					<div class="row d_flex">
						<div class="col-md-6 m-b-50">
							<div class="">
								<figure><img class="img-radius" src="images/images/anhbe.jpeg" alt="#" /></figure>
							</div>
						</div>

						<div class="col-md-6 m-t-80">
							<div class="col-md-12 d-flex m-b-50">
								<div class="col-2 m-r-50">
									<div class="icon-container d-flex justify-content-center align-items-center">
										<i class="fas fa-umbrella"></i>
									</div>
								</div>
								<div class="row col-10">
									<h1 class="main-color text-bold underline">Dịch vụ trước sinh</h1>
									<p class="col-md-12 fs-17" style="color: #5D5D5D;">- Xét nghiệm đánh giá tiền sản</p>
									<p class="col-md-12 fs-17" style="color: #5D5D5D;">- Siêu âm, theo dõi điện tim và cơn gò tử cung</p>
								</div>
							</div>

							<div class="col-md-12 d-flex m-b-50">
								<div class="col-2 m-r-50">
									<div class="icon-container d-flex justify-content-center align-items-center">
										<i class="fas fa-user-md"></i>
									</div>
								</div>
								<div class="row col-10">
									<h1 class="main-color text-bold underline">Dịch vụ trong sinh</h1>
									<p class="col-md-12 fs-17" style="color: #5D5D5D;">- Áp dụng phương pháp da kề da</p>
									<p class="col-md-12 fs-17" style="color: #5D5D5D;">- Giảm đau khi sinh</p>
									<p class="col-md-12 fs-17" style="color: #5D5D5D;">- Cắt dây rốn chậm</p>
								</div>
							</div>

							<div class="col-md-12 d-flex m-b-50">
								<div class="col-2 m-r-50">
									<div class="icon-container d-flex justify-content-center align-items-center">
										<i class="fas fa-baby"></i>
									</div>
								</div>
								<div class="row col-10">
									<h1 class="main-color text-bold underline">Dịch vụ sau sinh</h1>
									<p class="col-md-12 fs-17" style="color: #5D5D5D;">- Bác sĩ Sản Nhi thăm khám hàng ngày</p>
									<p class="col-md-12 fs-17" style="color: #5D5D5D;">- Chăm sóc mẹ sau sinh (vệ sinh, giảm đau, thay băng,…)</p>
									<p class="col-md-12 fs-17" style="color: #5D5D5D;">- Tiêm ngừa cho bé (BCG, viêm gan B, vitamin K)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End service section -->

		<!-- Choose section -->
		<div class="glasses" style="background-image: url('images/Images/bg-may.png');">
			<div class="">
				<div class="row">
					<div class="col-md-10 offset-md-1 m-b-60 m-t-60">
						<div class="titlepage">
							<h2>Lựa Chọn Gói Sinh</h2>
						</div>
					</div>
				</div>
				<nav aria-label="breadcrumb" class="main-breadcrumb" style="padding-left: 80px; padding-right: 80px;">
					<div class="breadcrumb">
						<div class="row col-sm-12 p-l-30 p-t-10 p-b-10">
							<div class="col-sm-4">
								<div class="input-group" style="padding: 5px;">
									<select class="form-control form-control-lg" name="category" id="category">
										<option value="" disabled selected>Cơ sở Bệnh Viện</option>
										<option th:each="category : ${category}" th:value="${category.title}"
											th:text="${category.title}"></option>
									</select>
									<div class="input-group-append">
										<button class="btn btn-hover-not btn-info" type="button">Apply</button>
									</div>
								</div>
							</div>

							<div class="col-sm-8" style="padding: 5px;">
								<form class="my-2 my-lg-0" action="/home" method="get">
									<div class="input-group">
										<input id="searchKeyword" class="form-control form-control-lg" name="keyword"
											type="search" placeholder="Tìm kiếm tên gói sinh" aria-label="Search"
											value="">
										<button class="input-group-text btn btn-hover-not text-white"><i
												class="fas fa-search" style="width: 30px;"></i></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</nav>
				<div id="featured-services" class="featured-services-2">
					<div class="container-service" data-aos="fade-up">
						<div class="row custom-row">

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
									<div class="icon"><i class="fa fa-dribbble"></i></div>
									<h4 class="title"><a href="">BVXA TP. Hồ Chí Minh</a></h4>
									<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas
										molestias
										excepturi
									</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
									<div class="icon"><i class="bx bx-file"></i></div>
									<h4 class="title"><a href="">BVXA – Vĩnh Long</a></h4>
									<p class="description">Duis aute irure dolor in reprehenderit in voluptate velit
										esse
										cillum dolore
									</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="300">
									<div class="icon"><i class="bx bx-tachometer"></i></div>
									<h4 class="title"><a href="">BVXA – Tây Ninh</a></h4>
									<p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa
										qui
										officia</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="400">
									<div class="icon"><i class="bx bx-world"></i></div>
									<h4 class="title"><a href="">BVXA – Long An</a></h4>
									<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus
										qui
										blanditiis</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="400">
									<div class="icon"><i class="bx bx-world"></i></div>
									<h4 class="title"><a href="">BVXA – Đức Trọng Lâm Đồng (dự án)</a></h4>
									<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus
										qui
										blanditiis</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
									<div class="icon"><i class="bx bxl-dribbble"></i></div>
									<h4 class="title"><a href="">BVXA TP. Hồ Chí Minh</a></h4>
									<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas
										molestias
										excepturi
									</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
									<div class="icon"><i class="bx bx-file"></i></div>
									<h4 class="title"><a href="">BVXA – Vĩnh Long</a></h4>
									<p class="description">Duis aute irure dolor in reprehenderit in voluptate velit
										esse
										cillum dolore
									</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="300">
									<div class="icon"><i class="bx bx-tachometer"></i></div>
									<h4 class="title"><a href="">BVXA – Tây Ninh</a></h4>
									<p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa
										qui
										officia</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="400">
									<div class="icon"><i class="bx bx-world"></i></div>
									<h4 class="title"><a href="">BVXA – Long An</a></h4>
									<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus
										qui
										blanditiis</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
								<div class="icon-box" data-aos="fade-up" data-aos-delay="400">
									<div class="icon"><i class="bx bx-world"></i></div>
									<h4 class="title"><a href="">BVXA – Đức Trọng Lâm Đồng (dự án)</a></h4>
									<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus
										qui
										blanditiis</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- End choose section -->

			<!-- about section -->
			<div id="about" class="about">
				<div class="container">
					<div class="row d_flex">
						<div class="col-md-12">
							<div class="titlepage" style="border: #000 solid 0px;">
								<h2 class="m-b-50">Đăng ký thông tin</h2>
								<div>
									<form class="row">
										<div class="col-md-7">
											<div class="form-group m-b-30">
												<input type="text" class="form-control form-control-lg" id="fullname"
													name="fullname" placeholder="Họ và tên" required>
											</div>

											<div class="form-row">
												<div class="form-group col-md-6 m-b-30">
													<input type="email" class="form-control form-control-lg" id="email"
														name="email" placeholder="Email" required>
												</div>
												<div class="form-group col-md-6 m-b-30">
													<input type="text" class="form-control form-control-lg"
														id="numberphone" name="numberphone" placeholder="Số điện thoại"
														required>
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-6 m-b-30">
													<input type="text" class="form-control form-control-lg"
														id="tuoithai" name="tuoithai" placeholder="Tuổi thai" required>
												</div>
												<div class="form-group col-md-6 m-b-30">
													<input type="text" class="form-control form-control-lg" id="coso"
														name="coso" placeholder="Cơ sở Bệnh Viện" required>
												</div>
											</div>
										</div>
										<div class="form-group col-md-5">
											<textarea type="text" class="form-control form-control-lg" id="thongtinthem"
												name="thongtinthem" placeholder="Thông tin thêm" required
												style="height: 120%;"></textarea>
										</div>

										<div class="col-md-7">
											<button type="submit"
												class="btn btn-hover bg-main-color btn-primary col-md-12 m-t-10">Đăng
												ký</button>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- about section -->

		<!-- Ask section -->
		<div class="glasses  m-b-60">
			<div class="container-fluid">
				<div class="row">
					<div class="container-service col-xl-12">
						<div class="row d_flex">
							<div class="col-md-4">
								<div class="">
									<h1 class="main-color fs-100" style="font-weight: 600;">FAQs</h1>
									<h1 class="main-color fs-35" style="font-weight: 500;">Giải đáp các thắc mắc thường gặp</h1>
								</div>
							</div>
							<div class="col-md-8">
								<div class="dropdown main-color p-r-50">
									<label for="toggle" class="question p-l-30 p-t-6">Non consectetur a erat nam at
										lectus urna duis?
										<i class="bi bi-chevron-down icon-show icon"></i>
										<i class="bi bi-chevron-up icon-close icon"></i>
									</label>
									<input type="checkbox" id="toggle" class="toggle">
									<div class="collapse">
										<p class="m-l-30 m-b-20">
											Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
											laoreet non curabitur gravida.
											Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
										</p>
									</div>

								</div>

								<div class="dropdown main-color p-r-50">
									<label for="toggle-1" class="question p-l-30 p-t-6">Non consectetur a erat nam at
										lectus urna duis?
										<i class="bi bi-chevron-down icon-show-1 icon"></i>
										<i class="bi bi-chevron-up icon-close-1 icon"></i>
									</label>
									<input type="checkbox" id="toggle-1" class="toggle">
									<div class="collapse">
										<p class="m-l-30 m-b-20">
											Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
											laoreet non curabitur gravida.
											Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
										</p>
									</div>

								</div>
								<div class="dropdown main-color p-r-50">
									<label for="toggle-2" class="question p-l-30 p-t-6">Non consectetur a erat nam at
										lectus urna duis?
										<i class="bi bi-chevron-down icon-show-2 icon"></i>
										<i class="bi bi-chevron-up icon-close-2 icon"></i>
									</label>
									<input type="checkbox" id="toggle-2" class="toggle">
									<div class="collapse">
										<p class="m-l-30 m-b-20">
											Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
											laoreet non curabitur gravida.
											Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
										</p>
									</div>

								</div>
								<div class="dropdown main-color p-r-50">
									<label for="toggle-3" class="question p-l-30 p-t-6">Non consectetur a erat nam at
										lectus urna duis?
										<i class="bi bi-chevron-down icon-show-3 icon"></i>
										<i class="bi bi-chevron-up icon-close-3 icon"></i>
									</label>
									<input type="checkbox" id="toggle-3" class="toggle">
									<div class="collapse">
										<p class="m-l-30 m-b-20">
											Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
											laoreet non curabitur gravida.
											Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
										</p>
									</div>

								</div>
								<div class="dropdown main-color p-r-50">
									<label for="toggle-4" class="question p-l-30 p-t-6">Non consectetur a erat nam at
										lectus urna duis?
										<i class="bi bi-chevron-down icon-show-4 icon"></i>
										<i class="bi bi-chevron-up icon-close-4 icon"></i>
									</label>
									<input type="checkbox" id="toggle-4" class="toggle">
									<div class="collapse">
										<p class="m-l-30 m-b-20">
											Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
											laoreet non curabitur gravida.
											Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
										</p>
									</div>

								</div>
								<div class="dropdown main-color p-r-50">
									<label for="toggle-5" class="question p-l-30 p-t-6">Non consectetur a erat nam at
										lectus urna duis?
										<i class="bi bi-chevron-down icon-show-5 icon"></i>
										<i class="bi bi-chevron-up icon-close-5 icon"></i>
									</label>
									<input type="checkbox" id="toggle-5" class="toggle">
									<div class="collapse">
										<p class="m-l-30 m-b-20">
											Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
											laoreet non curabitur gravida.
											Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
										</p>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End ask section -->

		<!--  footer -->
		<footer>
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 text-white m-b-50">
							<h4 class="text-white">Bệnh viện đa khoa Xuyên Á:</h4>
							<ul>
								<li><i class="fa fa-map-pin m-r-10"></i><span> 42, Quốc lộ 22, Ấp Chợ, Xã Tân Phú Trung,
										Huyện Củ Chi, TP. HCM</span> </li>
								<li><i class="fa fa-truck m-r-10"></i><span>(028) 37966999</span></li>
								<li><i class="fa fa-phone m-r-10"></i><span>1800 9075</span></li>
								<li><i class="fa fa-envelope m-r-10"></i><span>info@bvxuyena.com.vn</span></li>
								<li><i class="fa fa-globe m-r-10"></i><span>www.bvxuyena.com.vn</span></li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 text-white">
							<h4 class="text-white">Kết nối với chúng tôi:</h4>
							<div class="social-links">
								<a href="#" class="text-white fs-30 m-r-15"><i class="fa fa-globe"></i></a>
								<a href="#" class="text-white fs-30 m-r-15"><i class="fab fa-facebook"></i></a>
								<a href="#" class="text-white fs-30 m-r-15"><i class="fab fa-youtube"></i></a>
							</div>
						</div>

					</div>
				</div>
				<div class="copyright">
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<!-- Javascript files-->
		<script src="js/js-Ind/jquery.min.js"></script>
		<script src="js/js-Ind/bootstrap.bundle.min.js"></script>
		<script src="is/js-Uudai/Uudai.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Hàm để điều khiển hiển thị của biểu tượng
				function handleIconDisplay(toggleInput, iconShow, iconClose) {
					iconShow.style.display = "inline";
					iconClose.style.display = "none";

					toggleInput.addEventListener("change", function () {
						if (toggleInput.checked) {
							iconShow.style.display = "none";
							iconClose.style.display = "inline";
						} else {
							iconShow.style.display = "inline";
							iconClose.style.display = "none";
						}
					});
				}

				// Áp dụng hàm cho các phần tử cụ thể
				var toggleInput = document.getElementById("toggle");
				var iconShow = document.querySelector(".icon-show");
				var iconClose = document.querySelector(".icon-close");
				handleIconDisplay(toggleInput, iconShow, iconClose);

				var toggleInput1 = document.getElementById("toggle-1");
				var iconShow1 = document.querySelector(".icon-show-1");
				var iconClose1 = document.querySelector(".icon-close-1");
				handleIconDisplay(toggleInput1, iconShow1, iconClose1);

				var toggleInput2 = document.getElementById("toggle-2");
				var iconShow2 = document.querySelector(".icon-show-2");
				var iconClose2 = document.querySelector(".icon-close-2");
				handleIconDisplay(toggleInput2, iconShow2, iconClose2);

				var toggleInput3 = document.getElementById("toggle-3");
				var iconShow3 = document.querySelector(".icon-show-3");
				var iconClose3 = document.querySelector(".icon-close-3");
				handleIconDisplay(toggleInput3, iconShow3, iconClose3);

				var toggleInput4 = document.getElementById("toggle-4");
				var iconShow4 = document.querySelector(".icon-show-4");
				var iconClose4 = document.querySelector(".icon-close-4");
				handleIconDisplay(toggleInput4, iconShow4, iconClose4);

				var toggleInput5 = document.getElementById("toggle-5");
				var iconShow5 = document.querySelector(".icon-show-5");
				var iconClose5 = document.querySelector(".icon-close-5");
				handleIconDisplay(toggleInput5, iconShow5, iconClose5);
			});
		</script>
</body>

</html>